---
BasedOnStyle: Google
Language: Cpp

AlignTrailingComments: true

ColumnLimit: 100

BreakBeforeBraces: Allman

IncludeBlocks: Regroup
IncludeCategories:
    - Regex:  '^".*"'
      Priority: 1
    - Regex:  '^<(check.h)>'
      Priority: 2
    - Regex:  '^<.*\.h>'
      Priority: 3
...
