---
BasedOnStyle: Google
Language: Cpp

AlignEscapedNewlines: Right
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: None

DerivePointerAlignment: false
PointerAlignment: Right

ColumnLimit: 80

BreakBeforeBraces: Allman

IncludeBlocks: Regroup
IncludeCategories:
    - Regex:  '^".*"'
      Priority: 1
    - Regex:  '^<(check.h)>'
      Priority: 2
    - Regex:  '^<.*\.h>'
      Priority: 3
...
